.carousel-control-next,.carousel-control-prev{
    width: 4%;
    height:20%;
    background: #aaaaaa;
    border-radius:0.25rem;
    top:40%;
}
.carousel-control-next{right: 0.4rem;}
.carousel-control-prev{left: 0.4rem;}
.carousel-indicators li.active{
    background: #0aa1ed;
}
@media (min-width: 768px){
    .carousel-indicators li{
        width:0.8rem;
        height:0.8rem;
        border-radius: 50%;
        background: #ffffff;
        margin-left: 0.4rem;
        margin-right: 0.4rem;
    }
}
@media (max-width: 767px) {
    .carousel-indicators li{
        width: 0.4rem;
        height:0.4rem;
        border-radius: 50%;
        background: #ffffff;
        margin-right: 0.2rem;
        margin-left: 0.2rem;
    }
}
/*1F*/
.border-bottom {
    border-bottom: 0.2rem solid #d9d9d9 !important;
}
.top_height{
    height: 337px;
    background: #e8e8e8;
}
.bottom_height{
    height: 233px;
    background: #e8e8e8;
}
.w-35{width: 35%;}
.img1_position{
    float: right;
    margin-top: -250px;
    margin-right: 20px;
    transition:1s;
}
.img1_position:hover{
    transform:scale(1.1);
}
.img2_position{
    float: right;
    margin-right: 3rem;
    margin-top: -180px;
    transition: 1s;
}
.img2_position:hover{
    transform: scale(1.1);
}

